@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --mainTitleColor: #040f49;
  --mainTitleLightColor:#4B86B4;
  --textColor:#9fb6ca;

  --background:#3498db80;
  --primaryColor:#C4D559;
  --primaryPink:#F25C78;
  --lightBackgroundColor:#030303;
  --primaryLight:#fcfcfa;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.hexagon-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px rgba(52, 152, 219, 0.5);
}

/* Base hexagon styles */
.hexagon, .hexagon2 {
  width: 15vw; /* Reduced width */
  height: 17vw; /* Reduced height */
  background-color: #3b50c7;
  position: relative;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  box-shadow: 0 0 10px rgba(52, 152, 219, 0.5);
  z-index: 50;
}

.hexagon2 {
  background-color: #9ea3c4;
}

/* Hover effects */
.hexagon:hover, .hexagon2:hover {
  background-color: #c6d6d6;
  box-shadow: 0 0 20px rgba(52, 152, 219, 0.8);
  z-index: 50;
}

/* Position adjustments */
.hexagon:nth-child(1),
.hexagon:nth-child(2),
.hexagon:nth-child(3) {
  margin-top: -3vw;
  margin-bottom: -3vw;
}

.hexagon:nth-child(3) {
  margin-top: 17vw;
  margin-left: -13vw;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .hexagon-container {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
  }

  .hexagon, .hexagon2 {
    width: 25vw;
    height: 28vw;
  }

  .hexagon:nth-child(3) {
    margin-left: -12vw;
  }
}

@media (max-width: 480px) {
  .hexagon-container {
    grid-template-columns: 1fr;
  }

  .hexagon, .hexagon2 {
    width: 35vw;
    height: 40vw;
  }

  .hexagon:nth-child(3) {
    margin-left: 0;
  }
}





